"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => IdeaVimRC - IntelliJ IDEA-specific Vim Configurations
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" Source the main VimRC to reuse all shared settings and mappings
source ~/.vimrc

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => IDE-Specific Mappings
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" Pane navigation in IntelliJ
nmap <Leader>h :action FocusPreviousWindow<CR>
nmap <Leader>l :action FocusNextWindow<CR>

" IntelliJ-specific Git and search commands
nmap <Leader>g :action Git<CR>
nmap <Leader>f :action SearchEverywhere<CR>

" Toggle terminal in IntelliJ
nmap <Leader>t :action ActivateTerminalToolWindow<CR>

" Close current tab
nmap <Leader>x :action CloseActiveTab<CR>

" Comment code in IntelliJ
nmap <Leader>c :action CommentByLineComment<CR>

" Open refactor menu
nmap <Leader>r :action Refactorings.QuickListPopupAction<CR>

" Run and debug mappings
nmap <Leader>m :action RunClass<CR>
nmap <Leader>d :action DebugClass<CR>

" Open project structure
nmap <Leader>s :action ShowStructureViewPopup<CR>

" Open settings
nmap <Leader>o :action ShowSettings<CR>

" Save all files
nmap <Leader>w :action SaveAll<CR>

" Close the current tab
nmap <Leader>q :action CloseActiveTab<CR>
