"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => IdeaVimRC - IntelliJ IDEA-specific Vim Configurations
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

source ~/.vimrc

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Navigation Mappings
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

nmap <Leader>h :action FocusPreviousWindow<CR>
nmap <Leader>l :action FocusNextWindow<CR>
nmap <Leader>d :action GotoDeclaration<CR>
nmap <Leader>u :action FindUsages<CR>
nmap <Leader>s :action ShowStructureViewPopup<CR>
nmap <Leader>e :action RecentFiles<CR>

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => File and Tab Management
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

nmap <Leader>w :action SaveAll<CR>
nmap <Leader>x :action CloseActiveTab<CR>
nmap <Leader>q :action CloseActiveTab<CR>
nmap <Leader>t :action ActivateTerminalToolWindow<CR>

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Code Editing and Refactoring
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

nmap <Leader>c :action CommentByLineComment<CR>
nmap <Leader>r :action Refactorings.QuickListPopupAction<CR>
nmap <Leader>f :action ReformatCode<CR>
nmap <Leader>i :action OptimizeImports<CR>

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Search and Replace
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

nmap <Leader>F :action SearchEverywhere<CR>
nmap <Leader>R :action ReplaceInPath<CR>

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Run and Debug
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

nmap <Leader>rr :action Run<CR>
nmap <Leader>rc :action RunClass<CR>
nmap <Leader>d :action Debug<CR>
nmap <Leader>dc :action DebugClass<CR>

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Bookmarks and TODOs
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

nmap <Leader>td :action TODOView<CR>

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Miscellaneous
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

nmap <Leader>o :action ShowSettings<CR>
nmap <Leader>g :action Git<CR>

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Plugins
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

let g:qs_enable = 1

let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

let g:qs_primary_color = '#aa44ff'

let g:qs_disable_for_diffs = 1

let g:qs_lazy_highlight = 1
